'menu': [
  {
    'label': 'Edit'
    'submenu': [
      {
        'label': 'Bookmark'
        'submenu': [
          { 'label': 'View All', 'command': 'bookmarks:view-all' }
          { 'label': 'Toggle Bookmark', 'command': 'bookmarks:toggle-bookmark' }
          { 'label': 'Jump to Next Bookmark', 'command': 'bookmarks:jump-to-next-bookmark' }
          { 'label': 'Jump to Previous Bookmark', 'command': 'bookmarks:jump-to-previous-bookmark' }
          { 'label': 'Create Bookmarks using RegEx', 'command': 'bookmarks:use-regex' }
        ]
      }
    ]
  }
]
